* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: linear-gradient(white, #dee2e6);
}

nav {
  z-index: 5;
  width: 100%;
}

header {
  position: relative;
  background-image: url(/css/bc-about.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
header .header-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -5;
}
header .header-content h1 {
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700;
  text-align: center;
}
header .header-content p {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  padding: 20px;
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.about-me {
  background-color: rgb(242, 248, 244);
}

.about {
  display: flex;
  flex-direction: column;
}
.about .text {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
.about .text .pink {
  color: #fe5d9f;
}

.passions {
  background-image: url(/css/bc-like.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
  z-index: 0;
}
.passions .passions-shadow {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}
.passions .passion-items .item {
  margin: 30px 0px;
}
.passions .passion-items .item i {
  font-size: 2rem;
}
.passions .passion-items .item p {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.skills {
  background-image: url(/css/bg-skills.jpg);
  position: relative;
  z-index: 0;
  color: white;
}
.skills .skills-shadow {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}
.skills h3 {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.skills .icons .item {
  margin: 30px 0;
}
.skills .icons .item .heading {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}
.skills .icons .item p {
  font-size: 0.8rem;
  font-weight: bold;
}
.skills .icons .item i {
  font-size: 3rem;
  padding: 10px;
}

.myprojects {
  padding: 20px;
  background-image: url(/css/bc-projects.jpg);
  background-size: cover;
  background-position: center;
}
.myprojects h5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}
.myprojects .project-btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px 0;
}
.myprojects .project-btn button {
  text-transform: uppercase;
  padding: 5px 10px;
}

.contact {
  width: 320px;
  margin: auto;
}
.contact .contact-card {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact .contact-card i {
  padding: 10px;
}
.contact .contact-card a {
  text-decoration: none;
  color: #1f271f;
  transition: all 0.3s;
}
.contact .contact-card a:hover {
  transform: translateY(-5px);
  color: #fe5d9f;
}

h3 {
  font-weight: 200;
}

h4 {
  font-weight: 200;
}

@keyframes lines {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
    opacity: 0%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
  .container h2 {
    font-size: 2rem;
    border-bottom: 1px solid #dee2e6;
  }
  .container .about {
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #dee2e6;
    border-bottom: 10px solid #1f271f;
    height: 800px;
  }
  .container .about h1 {
    font-size: 2.3rem;
  }
  .container .about h2 {
    font-size: 1.2rem;
    width: 300px;
    margin: 10px auto;
    border-bottom: none;
  }
  .container .about .text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    width: 500px;
  }
  .container .experience {
    margin-top: 80px;
    box-shadow: 0px 0px 5px 1px #dee2e6;
    border-bottom: 10px solid #1f271f;
    border-radius: 5px;
    padding: 30px;
    height: 800px;
  }
  .container .experience .education,
  .container .experience .work {
    width: 600px;
    font-size: 1.2rem;
  }
  .container .experience .education .card,
  .container .experience .work .card {
    margin-bottom: 30px;
  }
  .container .experience .education .card .heading,
  .container .experience .work .card .heading {
    font-size: 1.1rem;
  }
  .container .experience .education .card .text,
  .container .experience .work .card .text {
    font-weight: 200;
    font-size: 1rem;
  }
  .container .experience .skills {
    width: 600px;
  }
  .container .experience .skills .icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .container .experience .skills .icons img {
    width: 10%;
    height: 20%;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .myprojects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .myprojects .projects {
    width: 90%;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .myprojects .projects .arrows {
    margin: auto 0px;
  }
  .myprojects .projects .projects-card {
    height: 450px;
    width: 450px;
    margin-right: 50px;
  }
  .myprojects .projects .projects-card .project {
    width: 100%;
    height: 400px;
  }
}/*# sourceMappingURL=style.css.map */