@use "colors" as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	background: linear-gradient(white, $lightGray);
}
nav {
	z-index: 5;
	width: 100%;
	.nav-link{
		text-transform: uppercase;
	}
}
header {
	position: relative;
	background-image: url(/css/bc-about.jpg);
	height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	.header-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba($color: white, $alpha: 0.6);
		z-index: -5;
	}
	.header-content {
		h1 {
			text-transform: uppercase;
			letter-spacing: 0.7rem;
			font-weight: 700;
			text-align: center;
		}
		p {
			text-align: center;
			text-transform: uppercase;
		}
	}
}
h2 {
	padding: 20px;
	font-weight: 200;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}
.about-me {
	background-color: $bc;
}

.about {
	display: flex;
	flex-direction: column;

	.text {
		text-align: center;
		margin: auto;
		margin-bottom: 20px;
		padding: 30px;
		letter-spacing: 0.1rem;
		line-height: 1.5rem;
		.pink {
			color: $pink;
		}
	}
}
.passions {
	background-image: url(/css/bc-like.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
	.passions-shadow {
		background-color: rgba($color: white, $alpha: 0.6);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -5;
	}
	.passion-items {
		.item {
			margin: 30px 0px;
			i {
				font-size: 2rem;
			}
			p {
				margin-top: 10px;
				text-transform: uppercase;
				font-size: 0.8rem;
			}
		}
	}
}
.skills {
	background-image: url(/css/bg-skills.jpg);
	position: relative;
	z-index: 0;
	color:white;
	.skills-shadow{
		background-color: rgba($color: black, $alpha: 0.6);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -5;
	}
	h3 {
		margin-top: 30px;
		text-align: center;
		text-transform: uppercase;
		
	}
	.icons {
		.item {
			margin: 30px 0;
		
			.heading {
				text-transform: uppercase;
				font-size: 1.2rem;
				letter-spacing: 0.1rem;
				margin-bottom: 0;
			}
			p {
				font-size: 0.8rem;
				font-weight: bold;
			}
			i {
				font-size: 3rem;
				padding: 10px;
			}
		}
	}
}
.myprojects {
	padding: 20px;
	background-image: url(/css/bc-projects.jpg);
	background-size: cover;
	background-position: bottom;
	h5 {
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-bottom: 10px;
		text-align: center;
	}

	.project-btn {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 15px 0;
		button {
			text-transform: uppercase;
			padding: 5px 10px;
		}
	}
}
.contact {
	color: white;
	.contact-card {
		width: 320px;
		margin: auto;
		display: flex;
		flex-direction: column;
		text-align: center;
		.name{
			font-size: 1.5rem;
		}
		.links{
			display:flex;
			justify-content: space-around;
			p{
				display:flex;
				flex-direction: column;
			}
		}
		i {
			padding: 10px;
		}
		a {
			text-decoration: none;
			color: white;
			transition: all 0.3s;
		}
		a:hover {
			color: $pink;
		}
	}
}
h3 {
	font-weight: 200;
}
h4 {
	font-weight: 200;
}
@keyframes lines {
	0% {
		width: 0%;
	}
	100% {
		width: 95%;
		opacity: 0%;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		display: flex;
		justify-content: space-around;
		h2 {
			font-size: 2rem;
			border-bottom: 1px solid $lightGray;
		}
		.about {
			margin-top: 80px;
			margin-bottom: 10px;
			padding: 30px;
			border-radius: 5px;
			box-shadow: 0px 0px 5px 1px $lightGray;
			border-bottom: 10px solid $gray;
			height: 800px;
			h1 {
				font-size: 2.3rem;
			}
			h2 {
				font-size: 1.2rem;
				width: 300px;
				margin: 10px auto;
				border-bottom: none;
			}
			.text {
				font-size: 1.1rem;
				line-height: 1.8rem;
				width: 500px;
			}
		}
		.experience {
			margin-top: 80px;
			box-shadow: 0px 0px 5px 1px $lightGray;
			border-bottom: 10px solid $gray;
			border-radius: 5px;
			padding: 30px;
			height: 800px;
			.education,
			.work {
				width: 600px;
				font-size: 1.2rem;
				.card {
					margin-bottom: 30px;
					.heading {
						font-size: 1.1rem;
					}
					.text {
						font-weight: 200;
						font-size: 1rem;
					}
				}
			}
			.skills {
				width: 600px;
				.icons {
					margin-top: 20px;
					display: flex;
					justify-content: space-around;

					img {
						width: 10%;
						height: 20%;
						margin-right: 20px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	.myprojects {
		h2 {
			text-align: center;
			font-size: 2rem;
			margin-bottom: 20px;
		}

		.projects {
			width: 90%;
			flex-direction: row-reverse;
			justify-content: center;
			.arrows {
				margin: auto 0px;
			}
			.projects-card {
				height: 450px;
				width: 450px;
				margin-right: 50px;
				.project {
					width: 100%;
					height: 400px;
				}
			}
		}
	}
}
