@use "colors" as *;
@use "animation" as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	background: linear-gradient(white, $lightGray);
}
nav {
	z-index: 5;
	width: 100%;
	.nav-link {
		text-transform: uppercase;
	}
}
header {
	position: relative;
	background-image: url(/css/bc-about.jpg);
	height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	.header-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba($color: white, $alpha: 0.6);
		z-index: -5;
	}
	.header-content {
		h1 {
			text-transform: uppercase;
			letter-spacing: 0.7rem;
			font-weight: 700;
			text-align: center;
		}
		p {
			text-align: center;
			text-transform: uppercase;
		}
	}
}
h2 {
	padding: 20px;
	font-weight: 200;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}
.white-bc{
background-color: rgb(252, 250, 250);
}
.about-me {
	background-color: $bc;
}

.about {
	display: flex;
	flex-direction: column;

	.text {
		text-align: center;
		margin: auto;
		margin-bottom: 20px;
		padding: 30px;
		letter-spacing: 0.1rem;
		line-height: 1.5rem;
		.pink {
			color: $pink;
		}
	}
}
.passions {
	background-image: url(/css/bc-like.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
	background-position: center;
	.passions-shadow {
		background-color: rgba($color: white, $alpha: 0.6);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -5;
	}
	.passion-items {
		.item {
			margin: 30px 0px;
			i {
				font-size: 2rem;
			}
			p {
				margin-top: 10px;
				text-transform: uppercase;
				font-size: 0.8rem;
			}
		}
	}
}
.skills {
	background-image: url(/css/bg-skills.jpg);
	position: relative;
	z-index: 0;
	color: white;
	.skills-shadow {
		background-color: rgba($color: black, $alpha: 0.6);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -5;
	}
	h3 {
		margin-top: 30px;
		text-align: center;
		text-transform: uppercase;
	}
	.icons {
		.item {
			margin: 30px 0;

			.heading {
				text-transform: uppercase;
				font-size: 1.2rem;
				letter-spacing: 0.1rem;
				margin-bottom: 0;
			}
			p {
				font-size: 0.8rem;
				font-weight: bold;
			}
			i {
				font-size: 3rem;
				padding: 10px;
			}
		}
	}
}
.myprojects {
	padding: 20px;
	background-image: url(/css/bc-projects.jpg);
	background-size: cover;
	background-position: bottom;
	h5 {
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-bottom: 10px;
		text-align: center;
	}
	.card{
		margin-bottom: 20px;
		background-color: rgba($color: white, $alpha: 0.7);
		text-align: center;
	}
	.babystepsLink{
		font-size: 1.2rem;
		text-decoration: none;
		color:gray;
	}
	.babystepsLink:hover{
		color:black;
	}

	.project-btn {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 15px 0;
		button {
			text-transform: uppercase;
			padding: 5px 10px;
		}
	}
}
.contact {
	color: white;
	.contact-card {
		width: 320px;
		margin: auto;
		display: flex;
		flex-direction: column;
		text-align: center;
		.name {
			font-size: 1.5rem;
		}
		.links {
			display: flex;
			justify-content: space-around;
			p {
				display: flex;
				flex-direction: column;
			}
		}
		i {
			padding: 10px;
		}
		a {
			text-decoration: none;
			color: white;
			transition: all 0.3s;
		}
		a:hover {
			color: $pink;
		}
	}
}
@media (min-width:576px){
	.myprojects{
		.card{
			height: 420px;
		}
	}
}

@media (min-width:768px){
	.myprojects{
		.card{
			height: 330px;
		}
	}
}